{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Debriefing Sheet
{% endblock %}

{% block content %}

<p>
    <br><b><u>Debriefing Sheet</u></b>
    <br><br><b>Title:</b> Economic Experiment
    <br><br><b>Researcher:</b> Patrick Rooney
    <br><br><b>Supervisor:</b> Nicola Lacetera
    <br><br><b>Phone Number:</b> 416-978-4154 (Ask for Patrick)
    <br><br><b>Room Number:</b> BRL Main Lab Room, Rotman School of Management, University of Toronto
    <br><br><b>Areas of Research:</b> Strategy, Organizational Behaviour
    <br><br><b>Brief Summary:</b> Management and economics research has investigated how organizations can improve
    coordination in environments in which coordination is challenging (e.g., Van Huyck et al., 1990; Weber et al.,
    2001). Prior work has shown that increasing bonuses (Brandts and Cooper, 2006) and allowing for communication under
    a group identity (Chen and Chen, 2011) can improve coordination outcomes. This study looks at how sorting people by
    their initial beliefs and actions (hard workers and optimistic people) in a difficult coordination environment
    impacts their ability to coordinate. The experiment you completed today is a pilot study that will be used to check
    whether participants understand the game, understand the purpose of the experiment, and can navigate the program
    easily. It is important to note that economics experiments always use incentives to approximate how organizations
    and markets encourage people to make decisions. Moreover, economics experiments also have a non-deception policy,
    so experimenters cannot 'lie' in describing the experimental tasks or goals. Psychology experiments are often
    unincentivized and sometimes involve deception.
    <br><br><b>Specific Hypothesis Tested (H1):</b> Groups that are sorted based on initial positive beliefs and
    actions will coordinate better than those who were not sorted based on these beliefs and actions.
    <br><br><b>Independent Variables:</b> Group membership (sorted hard worker/optimist groups, sorted
    shirker/pessimist groups, non-sorted groups)
    <br><br><b>Dependent Variables:</b> Individual sentences typed and group outcomes.
    <br><br><b>Control procedures:</b> Those who were not sorted by initial beliefs and actions are in the control
    group, and those who were sorted based on initial beliefs and actions are in the treatment group.
    <br><br><b>Implications for theory/practice:</b> Understanding the reasons why individuals coordinate in groups
    will give us a better understanding into how firms build sustainable cultures that reduce general levels of
    strategic uncertainty in the workplace.

<br><br><br><br><b>Comprehension Check</b>
<br><br>1. What is one of this study's general topic areas?
<br>{% formfield debrief_1 %}
<br><br>2. What is one dependent variable of this study?
<br>{% formfield debrief_2 %}
<br><br>3. What is the treatment group in this study?
<br>{% formfield debrief_3 %}
<br><br>4. What was the control group in this study?
<br>{% formfield debrief_4 %}
<br><br>5. What is one hypothesis of this study?
<br>{% formfield debrief_5 %}
<br><br>6. What makes an economic experiment different from a psychology experiment?
<br>{% formfield debrief_6 %}
    </p>

{% next_button %}

{% endblock %}


