{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
<p>
    Please answer a few questions:
    <br><br>Age:
    <br><br>{% formfield player.age %}
    <br>Gender:
    <br><br>{% formfield player.gender %}
    <br>Race:
    <br><br>{% formfield player.race %}
    <br>Have you volunteered within the past year?
    <br><br>{% formfield player.volunteer %}
    <br>Have you donated to a charitable cause within the past year?:
    <br><br>{% formfield player.donate %}
    <br>In the first period with your first firm, what was your strategy for deciding how many sentences to type?:
    <br><br>{% formfield player.first_pd_strategy %}
    <br>After a few periods in your first firm, what was your strategy for deciding how many sentences to type?:
    <br><br>{% formfield player.later_pd_strategy %}
    <br><b>Using only one or two words</b>, how would you describe the action of typing <b>zero</b> sentences in the
    first period with your first firm (prior to knowing how many sentences others typed)?
    <br><br>{% formfield player.zero_opinion %}
    <br><b>Using only one or two words</b>, how would you describe the action of typing <b>four</b> sentences in the
    first period with your first firm (prior to knowing how many sentences others typed)?
    <br><br>{% formfield player.four_opinion %}
    <br><b>Using only one or two words</b>, how did you feel after learning about your second firm but before working
    with them?
    <br><br>{% formfield player.second_firm_feelings %}
    <br><b>Using only one or two words</b>, how did you feel after working with your second firm for a few periods?
    <br><br>{% formfield player.later_second_firm_feelings %}
</p>
    {% next_button %}
{% endblock %}


