{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second Half
{% endblock %}

{% block content %}

<p>
    Based on your answers prior to seeing the first round results, we have determined that you are among the top half
    of the most optimistic and hard working employees in this room.
    <br><br>You have been randomly rematched with another set of three employees in this room. These employees are also
    among the most optimistic and hard working employees in this room. Within this new firm, you will now complete
    another 10 rounds of data entry.
    <br><br>Please click next to advance to the next page.
</p>

    {% next_button %}

{% endblock %}
