{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Beliefs About Other Players
{% endblock %}

{% block content %}

<p>
    How many sentences do you think the other three members of your firm wrote? Please type a number from 0 to 4 in each
    of the spaces below.
    <br><br><b>If you guess the correct number of sentences for all three members, you will receive a
    {{ Constants.bonus }} point bonus.
    </b>
    <br><br>Guess 1: {% formfield player.guess1 %}
    <br>Guess 2: {% formfield player.guess2 %}
    <br>Guess 3: {% formfield player.guess3 %}
</p>

    {% next_button %}

{% endblock %}
