{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Punishment Information
{% endblock %}

{% block content %}
<p>
    <br><br><b>As part of this game, you will have the chance to vote to punish the person/people who complete the
    fewest sentences {{ punish_regime }}.
    </b>You will anonymously vote on this punishment after typing the round's sentences. More information will be given
    on the punishment voting pages.
    <br><br>Please click next to advance to the next page.
</p>
    {% next_button %}

{% endblock %}
