{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
<p>
    Please answer a few questions:
    <br><br>Age:
    <br><br>{% formfield player.age %}
    <br>Gender:
    <br><br>{% formfield player.gender %}
    <br>Race:
    <br><br>{% formfield player.race %}
    <br>Have you volunteered within the past year?
    <br><br>{% formfield player.volunteer %}
    <br>Have you donated to a charitable cause within the past year?:
    <br><br>{% formfield player.donate %}
    <br>In the first round with your firm, what was your strategy for deciding how many sentences to type?:
    <br><br>{% formfield player.first_pd_strategy %}
    <br>After a few rounds, what was your strategy for deciding how many sentences to type?:
    <br><br>{% formfield player.later_pd_strategy %}
    <br><b>In a few words</b>, how would you describe the action of typing <b>zero</b> sentences in the
    first round with your firm (prior to knowing how many sentences others typed)?
    <br><br>{% formfield player.zero_opinion %}
    <br><b>In a few words</b>, how would you describe the action of typing <b>four</b> sentences in the
    first round with your firm (prior to knowing how many sentences others typed)?
    <br><br>{% formfield player.four_opinion %}
    <br><b>In a few words</b>, how did you feel when you were given the option to punish the lowest contributor?
    <br><br>{% formfield player.second_firm_feelings %}
    <br><b>In a few words</b>, how did you feel after you submitted your punishment vote and saw results?
    <br><br>{% formfield player.later_second_firm_feelings %}
</p>
    {% next_button %}
{% endblock %}


