{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second Part
{% endblock %}

{% block content %}
<p>
    <br><br>You have been randomly rematched with another set of three employees in this room for the final five rounds
    of data entry. These rounds will be identical to the previous rounds except for one difference. Now, before each
    round, <b> you will be able to write a long reflection on the game itself.</b> You will have one minute to write
    your reflection before each round. You will not be paid or penalized for these reflections, and your reflections
    will remain anonymous.
    <br><br>Please click next to advance to the next page.
</p>
    {% next_button %}

{% endblock %}
