{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Long Reflection
{% endblock %}

{% block content %}
    <p>
        Please reflect on any aspect of this game. Some topics of interest might be the outcomes of previous rounds,
        how you might earn more points, or whether there is an ethical component to this group work.
        {% formfield player.long_reflection %}
        <br><br><button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>

    </p>
{% endblock %}


