{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vote to Punish
{% endblock %}

{% block content %}

    <p>
        <b>In this round, the employees in your firm typed {{ group.first }}, {{ group.second }}, {{ group.third }}, and
            {{ group.fourth }} sentences.</b>
        <br><br> <b>You typed {{ player.total_sentences }} sentences.</b>

        <br><br><br>You may vote to punish the person with the lowest number of sentences in this round. <b>If the
        punishment policy is enacted, the employee typing the lowest number of sentences will earn 0 points in the
        round</b>. If there is more than one employee at the lowest number of sentences, all employees
        typing the lowest number will be punished.
        <br><br>Choosing to punish is costly to the punisher. Namely, <b>any employee voting in favor of punishment
        will have their round's earnings reduced by {{ Constants.punish_cost }} points.</b> Earnings reductions will
        only occur in rounds in which
        you vote to punish. You cannot earn less than zero points in any round.
        <br><br><b>Punishment will be enacted if one or more employees vote yes (i.e., at least one employee votes
        for punishment).</b> If all employees correctly type 4 sentences, there will be no punishment (or reduction
        in punisher earnings) even if the punishment policy is enacted. The outcome of the vote will be displayed
        on the following page.
        <br><br>Would you like to punish the employee(s) with the lowest number of sentences in this round?
        <br><br>{% formfield player.vote %}
    </p>

    {% next_button %}
{% endblock %}


